In [7]:
import pandas as pd

In [8]:
real_reviews = pd.read_csv("real_reviews.csv")

In [9]:
real_reviews.head()

                                              Review  Real
0  An appetizer, 2 HUGE dinners, and beer for 35 ...     1
1  Mimi's on Shea is under new ownership / manage...     1
2  Really cute. Originally from Austin, Texas, th...     1
3  Huge servings!! Good food good service.. we'll...     1
4  Great food, service, and atmosphere. Great pla...     1